.about{
    margin: 0 12px;
}

.about.plan{
    height: 176px;
    padding: 12px 0 ;
}

.about.plan img{
    height: 176px;
    width: 100%;
    border-radius: 8px;
}

.about.look-all{
    float: right;
}