*{
    margin: 0;
    padding: 0;
}

.article-list-container
{
    border-bottom: 4px #f8f8f8 solid;
    min-width: 350px;

}
.article-detail{
    border-bottom: 4px #f8f8f8 solid;
}




.article-content{
    height: 106px;
    display: flex;
    /*justify-content: space-between;*/
}
.article-content .article-info .title {
    font-size : 15px;
    height: 15px;
    color : #333333;
    margin-top: 14px;
    margin-bottom: 15px;
    padding: 0;

}
.article-content .article-info .detail{
    font-size : 12px;
    line-height : 13px;
    height: 30px;
    color : #999999;
    margin-right: 19px;
    margin-bottom: 14px;
    padding: 0;

}

.article-content .article-info .ctime{
    font-size : 10px;
    color : #999999;
    height: 9px;
    margin-top: -10px;
    padding: 0;


}
.article-content .article-img{
    width: 81px;
    height: 81px;
    border-radius: 4px;
    margin: 12px 15px 13px 12px;
}
.article-list .article-img1{
    width: 81px;
    height: 81px;
    border-radius: 4px;
    margin: 12px 15px 13px 12px;
}

.article-detail .detail{
    display: flex;
    justify-content: space-between;
    font-size : 12px;
    color : #999999;
    margin-left: 12px;
    margin-bottom: 12px;
    width: 298px;

}

.article-detail .title{
    font-size : 20px;
    /*line-height : 66px;*/
    color : #333333;
    height: 20px;
    margin-left: 13px;
    margin-top: 37px;
    margin-bottom: 38px;
}
.article-detail .content{
    font-size : 15px;
    line-height : 26px;
    color : #333333;
    text-indent: 30px;
    margin-left: 12px;
    margin-right: 12px;
}


.article-detail .index-photo{
    padding: 12px;
}
.article-detail .index-photo img{
    height: 176px;
    width: 100%;
    border-radius: 7px;
}
.article-detail .read{
    font-size : 13px;
    color : #000000;
    margin-left: 14px;
    margin-top: 39px;
}
.article-detail .article-list{
    display: flex;
    height: 80px;
    margin-bottom: 12px;
}
.article-list .article-list-info .title1{
    font-size : 15px;
    margin-top: 22px;
    /*margin-bottom: 31px;*/
}
.article-list .article-list-info .detail1{
    font-size : 13px;
    line-height : 21px;
    color : #999999;
    height: 34px;
    margin-top: 7px;
}

