.parenting{
}
.parenting-space{
    margin: 6px;
}
.parenting .tlb-img{
    margin-bottom: 15px;
    height: 176px;
}
.parenting .title-item{
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    margin-top: 13px;
}
.type{
    border: 1px #00cccc solid;
    color: #00cccc;
    border-radius: 5px;
    margin-right: 7px;
    margin-left: 12px;
    padding: 0 4px;

}
.parenting .detail{
    margin-bottom: 10px;
    margin-left: 12px;
    margin-right: 29px;
}
.parenting .recommend{
    display: flex;
    justify-content: space-between;
}
.list-content ul li {
    list-style: none;
    padding-bottom: 8px;
}
.list-content ul li span{
    color: #6699ff;
}


.class{
    /*height: 45px;*/
    border-right:none;
    margin-left: 19px;
    margin-right: 19px;
}

.class .item{
    padding: 14px 0;
    border: none;
    width: 56px;
    height: 20px;
    font-size: 14px;
}
.weui-navbar__item .item:active{
    border-bottom: 3px orange solid !important ;
        font-size: 14px;

}
.weui-navbar__item:active {
    text-decoration: none;
    background-color: #FFFFFF;
}
.weui-navbar__item.weui-bar__item--on:active {
    text-decoration: none;
}
.weui-navbar__item.weui-bar__item--on {
    color: #333333;
    background-color: #FFFFFF;
    border-bottom: 2px orange solid;
    text-decoration: none;
    font-size: 14px;
    /*width: 144px;*/
}
.weui-navbar {
    height: 42px;
    margin: 0 10px;
}
