.faculty {
    margin: 0 auto;
    max-width: 750px;
}



.faculty .faculty-content {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    position: relative;
    margin-bottom: 25px;

}

.faculty-content img {
    width: 161px;
    height: 161px;
    border-radius: 8px;
    /*margin-bottom: 25px;*/
    margin-left: 26px;
}
.consultant{
    margin-top: 25px;
    margin-left: 27px;
    margin-bottom: 39px;
}

.faculty-content .name {
    margin-bottom: 15px;
}

.faculty-content .advisory
{
    border-radius: 30px;
    background-color: #ffcc00;
    color: black;
    margin-top: 52px;
    width: 141px;
    height: 57px;
    line-height: 58px;
    padding: 0;
    margin-right: 24px;


}
.advisory1{
    border-radius: 40px;
    background-color: #ffcc00;
    color: black;
    /*margin-top: 52px;*/
    width: 261px;
    height: 81px;
    line-height: 70px;
    padding: 0;
    margin-right: 240px;
    margin-top: 42px;

}

.faculty-adviser {
    width: 570px;
    margin-left: 30px;
}
.faculty-title{
    margin-left: 28px;
    margin-top: 50px;
}

.faculty .expert {
     text-align: center;
     color: #00cccc;

 }

.expert-content img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.expert-content .name {
    position: absolute;
    bottom: -20px;
    left: 285px;
    width: 181px;
    height: 61px;
    color: black;
    background-color: #ffff99;
    border-radius: 30px;
}

.expert-content {
    position: relative;
}

.faculty .detail {
    text-align: center;
    margin-top: 35px;

}

.faculty .detail .advisory {
    background-color: orange;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
    width: 141px;
    height: 57px;
}
/*.advisory1{*/
    /*background-color: orange;*/
    /*color: black;*/
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
    /*border-radius: 30px;*/
    /*width: 261px;*/
    /*height: 81px;*/
/*}*/

.teacher img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.teacher {
    display: flex;
    justify-content: space-between;

}

.teacher-item {
    margin-left: 35px;
    margin-right: 20px;
}
.teacher-space{
    margin-bottom: 30px;
}
.weui-navbar__item{
    color: #333333;
    background-color: #FFFFFF;
    font-size: 32px;
    border: none;
}
.weui-navbar__item:active{
    text-decoration: none;
    background-color: #FFFFFF;
}
.weui-navbar__item:hover{
    text-decoration: none;
    background-color: #FFFFFF;
}
.weui-navbar__item.weui-bar__item--on {
    color: #333333;
    background-color: #FFFFFF;
    border-bottom: 5px orange solid;
    text-decoration: none;
    font-size: 32px;
    /*width: 144px;*/
}
.weui-navbar__item.weui-bar__item--on:active{
    text-decoration: none;
}

.weui-tab {
    max-width: 750px;


}
.weui-navbar{
    height: 83px;
    margin: 0 20px;
}


