* {
    margin: 0;
    padding: 0;
}

.bg-00CCCC {
    background-color: #00cccc;

}

.bg-00CC66 {
    background-color: #00CC66;
}

.bg-ff9966 {
    background-color: #ff9966;
}

.bg-6699ff {
    background-color: #6699ff;
}

.bg-9933ff {
    background-color: #9933ff;
}

.bg-ff9933 {
    background-color: #ff9933;
}
.full-time-teaching{
    margin: 0 auto;
    /*max-width: 750px;*/
}
.teach-container {
   margin-bottom: 25px;
}

.teach {
    padding: 30px;
    line-height: 55px;
    color: #FFFFFF;
    border-radius: 25px;
}

.teach .photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

.teacher-content {
    display: flex;
    height: 120px;
}

.teacher-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

.teacher-list {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;

}

.teacher-content {
    height: 120px;
    display: flex;
    width: 100%;
}

.teacher-list .advisory {
    border-radius: 25px;
    color: black;
    background-color: #FFFFFF;
    margin-top: 60px;
}

.surround {
    margin-top: 40px;
    margin-bottom: 20px;
}

.classroom1,
.classroom2,
.hall1,
.hall2{
    position: relative;

}
.c1{
    position: absolute;
    width: 140px;
    height: 60px;
    bottom: 15px;
    right: 15px;
    color: #FFFFFF;
    line-height: 60px;
    text-align: center;
    background: rgba(0, 0, 0, .4);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 10px;
}
.classroom1,
.classroom1 img {
    width: 600px;
    height: 350px;
}

.classroom2,
.classroom2 img {
    width: 315px;
    height: 350px;
}

.surround-img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.hall1,
.hall1 img {
    width: 458px;
    height: 350px;
}
.hall2,
.hall2 img{
    width: 458px;
    height: 350px;
}

.student{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}
.student .detail{
    margin-left: 30px;
    margin-top: 12px;
}
.student-content img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-right: 15px;
}
.detail span{
    margin-right: 30px;
}
.student-content{
    margin-bottom: 45px;
    margin-top: 4px;
}
.surround .all{
    text-align: center;
    margin-bottom: 25px;
}
.fine-teacher{
    margin-top: 30px;
    margin-bottom: 30px;
}
.teacher img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.teacher {
    display: flex;
    justify-content: space-between;

}
.teacher-item{
    margin-left: 35px;
    margin-right: 20px;
}

.teacher-space{
    margin-bottom: 30px;
}

