.gm-course {
    padding: 12px;

}

.gm-course .photo img {
    border-radius: 13px 13px 0 0;
    height: 121px;
    width: 100%;
}

.gm-course-content {
    padding: 15px;
    line-height: 28px;
    border: 1px #dddddd solid;
    border-radius: 0 0 12px 12px;
    height: 91px;
}

.gm-course-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.gm-course-title .reply {
    background-color: antiquewhite;
    color: black;
    border-radius: 15px;
    width: 71px;
    height: 29px;
    text-align: center;
    padding: 3px 6px;
}