

* {
    padding: 0;
    margin: 0;
}

.fs36 {
    font-size: 36px;
}

.fs32 {
    font-size: 32px;
}

.fs28 {
    font-size: 28px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.nav {
    display: flex;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.nav .logo {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.nav .menu {
    padding-left: 25px;
    line-height: 50px;
}

.icon36 {
    font-size: 36px;
}

.nav .name {
    line-height: 50px;
    margin-left: 10px;
}

.nav .nav-middle {
    margin: 0 auto;
    display: flex;
}



.list {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 40px;
    margin: 20px 25px 40px 25px;
    box-shadow: 0px 0px 20px #888888;
}

.title {
    padding-bottom: 20px;
}

.list-content ul li {
    list-style: none;
    padding-bottom: 15px;
}
.list-content ul li span{
    color: #6699ff;
}

.more {
    float: right;
}

.early-cource {
    margin: 20px 25px 30px 25px;
}

.early-cource .title {
    margin-bottom: 15px;
}

.course-detail img {
    width: 300px;
    height: 300px;
}

.course-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.color999 {
    color: #999999;
}

.course-detail span {
    width: 300px;
}

.middle-photo {
    height: 250px;
    margin: 40px 25px;

}

.middle-photo img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.feature-course {
    margin: 40px 25px 20px 25px;


}

.feature-course img {
    width: 170px;
    height: 170px;
    padding-right: 30px;
    border-radius: 10px;
}

.feature-course .content {
    display: flex;
}

.info {
    line-height: 50px;
}

.gold-medal-course {

    position: relative;
    display: block;
    -webkit-box-flex: 1;
    flex: 1;
    padding: 16px 0;
    text-align: center;
    line-height: 1.41176471;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.gold-medal-course img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.gold-medal-course .title {
    display: flex;
    justify-content: space-between;
}

.gold-medal-course .image {
    display: flex;
    justify-content: space-around;
}

.course-type {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.course-type span {
    width: 250px;
}

.image .image-box {
    width: 200px;
    text-align: center;

}
.image-box img{
    margin-bottom: 15px;
}
.weui-navbar span{
    margin-right: 50px;
}
.input-box{
    height: 45px;
    width: 450px;
    border-radius: 8px;
    padding-left: 8px;
    text-indent: 5px;
    color: rgba(51, 51, 51, 1);
    box-shadow: rgba(204, 204, 204, 1);
    border: solid #cccccc 1px;
    font-size: 28px;
    line-height: 150%;
    text-align: left;
    margin-bottom: 40px;
}
input[type="radio"] {
    width: 25px;
    height: 25px;
    /*opacity: 0;*/
}
.from-btn{
    border-radius: 30px;
    background-color: orange;
    color: black;
    margin-top: 30px;
    margin-bottom: 20px;

}
.contact{
    margin-left: 25px;
}
