
.index-container {
    width: 100%;
    margin: 0 auto;
}
.index-container .nav{
    border-bottom: none;
    position: absolute;
    width: 100%;
    height: 51px;
    top: 0;
    /*line-height: 60px;*/
    /*text-align: center;*/
    background: rgba(0, 0, 0, .2);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*opacity: 0.3;*/
}
.index-container .index-photo img{
    width: 100%;
    height: 577px;
}
.index-container .index-photo{
    position: absolute;
}
.reserve-content{
    position: relative;
    width: 380px;
    margin: 15px auto;
    bottom: 0;
    top: -319px;

}

.reserve-content .panel{
    border-radius:5px;
    height:335px;

}
.reserve-content .panel .group{
    margin:20px 10px 20px 10px;
}
.reserve-content .panel .group ul{
    list-style: none;
    margin-top:10px;
}

.reserve-content .panel .group ul li{
    margin-top:2px;
}

.reserve-content .panel .group ul li input{
    line-height:22px;
    width:330px;
    font-size: 14px;
    height: 44px;
    border-radius: 30px;
    background-color: #f8f8f8;
    border: none;
    padding-left: 15px;
    margin-left: 7px;
}




.reserve-content .panel .login{
    text-align: center;
    margin-top:-8px;


}
.reserve-content button{
    width:340px;
    height:48px;
    background-color:#10AEFF;
    border:none;
    color:#fff;
    font-size:16px;
    font-weight: bold;
    cursor:pointer;
    border-radius: 30px;
}
.nav .index-logo{
    width: 100px;
    height: 35px;
    margin-top: 8px;
    margin-left: -40px;

}



.more {
    float: right;
}

.early-cource {
    margin: 0 25px 74px 25px;
}

/*.early-cource .title {*/
    /*margin-bottom: 15px;*/
/*}*/
.early-cource .title .title1{
    /*font-size : 36px;*/
    /*color : #000000;*/
    /*color : rgb(0, 0, 0);*/
    /*margin: 77px 465px 71px 27px;*/
}
.early-cource .title .more{
    font-size : 24px;
    color : #666666;

}
.course-detail img {
    width: 223px;
    height: 223px;
    border-radius: 8px;
}

.course-detail {
    display: flex;
    /*justify-content: space-between;*/
    margin-top: 20px;
    margin-bottom: 20px;
}

.color999 {
    color: #999999;
}

.course-detail span {
    width: 300px;
}

.middle-photo {
    height: 250px;
    margin: 40px 25px;

}

.middle-photo img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.feature-course {
    margin: 40px 25px 20px 25px;


}

.feature-course img {
    width: 170px;
    height: 170px;
    padding-right: 30px;
    border-radius: 10px;
}

.feature-course .content {
    display: flex;
}

.info {
    line-height: 50px;
}

.gold-medal-course {

    position: relative;
    display: block;
    -webkit-box-flex: 1;
    flex: 1;
    padding: 16px 0;
    text-align: center;
    line-height: 1.41176471;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.gold-medal-course img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.gold-medal-course .title {
    display: flex;
    justify-content: space-between;
}

.gold-medal-course .image {
    display: flex;
    justify-content: space-around;
}

.course-type {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.course-type span {
    width: 250px;
}

.image .image-box {
    width: 200px;
    text-align: center;

}
.image-box img{
    margin-bottom: 15px;
}
.weui-navbar span{
    margin-right: 50px;
}
.input-box{
    height: 45px;
    width: 450px;
    border-radius: 8px;
    padding-left: 8px;
    text-indent: 5px;
    color: rgba(51, 51, 51, 1);
    box-shadow: rgba(204, 204, 204, 1);
    border: solid #cccccc 1px;
    font-size: 28px;
    line-height: 150%;
    text-align: left;
    margin-bottom: 40px;
}
input[type="radio"] {
    width: 25px;
    height: 25px;
    /*opacity: 0;*/
}
.from-btn{
    border-radius: 30px;
    background-color: orange;
    color: black;
    margin-top: 30px;
    margin-bottom: 20px;

}
.contact{
    margin-left: 25px;
}
