@font-face {
    font-family: 'iconfont';  /* project id 1198850 */
    src: url('//at.alicdn.com/t/font_1198850_zvqjexqg9e.eot');
    src: url('//at.alicdn.com/t/font_1198850_zvqjexqg9e.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1198850_zvqjexqg9e.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1198850_zvqjexqg9e.woff') format('woff'),
    url('//at.alicdn.com/t/font_1198850_zvqjexqg9e.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1198850_zvqjexqg9e.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 64px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body{
    min-width: 320px;
    margin: 0 auto;

}


.fs48 {
    font-size: 48px;
}

.fs42 {
    font-size: 42px;
}

.fs36 {
    font-size: 36px;
}

.fs32 {
    font-size: 32px;
}
.fs30{
    font-size: 30px;
}

.fs28 {
    font-size: 28px;
}
.fs26{
    font-size: 26px;
}
.fs24 {
    font-size: 24px;
}
.fs20{
    font-size: 20px;
}

.fs18{
    font-size: 18px;
}

.fs16 {
    font-size: 16px;
}
.fs15{
    font-size: 15px;
}

.fs14 {
    font-size: 14px;
}
.fs13{
    font-size: 13px;
}
.fs12 {
    font-size: 12px;
}
.fs10{
    font-size: 10px;
}

.col999 {
    color: #999999;
}
.col666{
    color: #666666;
}
.col333{
    color: #333333;
}
.icon36 {
    font-size: 36px;
}

.icon48 {
    font-size: 48px;
}

.icon54 {
    font-size: 54px;
}
.col000{
    color: #000000;
}
.bg-00CCCC {
    background-color: #00cccc;

}

.bg-99ff99 {
    background-color: #99ff99;
}

.bg-ff9966 {
    background-color: #ff9966;
}

.bg-line1 {
    width: 100%;
    height: 10px;
    background-color: #f8f8f8;
}

.bg-line2 {
    width: 100%;
    height: 4px;
    background-color: #f8f8f8;
}

.tlb-img,
.tlb-img img {
    width: 100%;
    height: 400px;
    border-radius: 15px;
}
* {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}


ul, ol {
    list-style: none;
}

li {
    list-style: none
}

img {
    vertical-align: top;
    border: none
}
.nav{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px #dddddd solid;
    font-size: 18px;
    color: #000000;
}
.icon1{
    margin-right: calc(50% - 55px);
    margin-top: 15px;
    margin-left: 15px;
    height: 20px
}

