.question-list-content {
    /*max-width: 750px;*/
    margin: 0 auto;
    border-bottom: 8px #f8f8f8 solid;
}

.question-detail-container {
    /*max-width: 750px;*/
    margin: 0 auto;
    background-color: #F2F2F2;
}

question-detail-container.question-img{

}

.weui-navbar__item {
    color: #333333;
    background-color: #FFFFFF;
    font-size: 14px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.weui-navbar__item:active {
    text-decoration: none;
    background-color: #FFFFFF;
}

.weui-navbar__item:hover {
    text-decoration: none;
    background-color: #FFFFFF;
}

.weui-navbar__item.weui-bar__item--on {
    color: #333333;
    background-color: #FFFFFF;
    border-bottom: 2px orange solid;
    text-decoration: none;
    font-size: 14px;
    /*width: 144px;*/
}

.weui-navbar__item.weui-bar__item--on:active {
    text-decoration: none;
}

.weui-tab {
    /*max-width: 750px;*/


}

.weui-navbar {
    height: 42px;
    margin: 0 10px;
}

.question-list {
    width: 100%;
}

.question-list .photo {
    margin-top: 17px;
}

.question-list .jing {
    background-color: red;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 2px;
}


.question-list .source1 {
    width: 165px;
    height: 17px;
    display: flex;
    justify-content: space-between;
    margin-left: 13px;
    margin-top: 12px;
    margin-bottom: 15px;

}

.question-list .source2 {
    width: 165px;
    height: 17px;
    display: flex;
    justify-content: space-between;
    margin-left: 13px;
    margin-top: 12px;
    margin-bottom: 15px;

}
.question-list .jing {
    margin-right: 6px;
    margin-left: 12px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
}

.question-list .zj-question {
    margin-left: 12px;
    margin-bottom: 15px;
}

.question-list .discuss {
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    height: 12px;

}
.question-list .discuss img{
    width: 15px;
    height: 15px;
    line-height: 12px;
    margin-right: 5px;

}

.question-list .discuss .count {
    font-size: 12px;
    color: #999999;
    line-height: 12px;
}



.question-detail-container .question-title1 {
    margin-left: 13px;
    margin-top: 13px;
    margin-bottom: 15px;

}


.question-title {
    margin-left: 12px;
    margin-top: 13px;
    margin-bottom: 8px;

}


.question-list-content {
    display: flex;
    justify-content: space-between;
}


.col2CB5A9 {
    color: #2CB5A9;
}

.question-detail1 {
    margin-left: 12px;
    line-height: 22px;
    height: 40px;
    margin-right: 12px;
}

.question-detail2 {
    margin-left: 12px;
    line-height: 22px;
    height: 170px;
    margin-right: 12px;
    margin-bottom: 22px;
    padding-bottom: 12px;
}

.question-detail3 {

    line-height: 22px;
    height: 82px;
    margin: 8px 13px 13px 13px;
}


.question-detail-container .source3 {
    display: flex;
    margin-left: 12px;
    width: 150px;
    height: 12px;
    justify-content: space-between;
    margin-bottom: 13px;
}

.question-detail-container .source4 {
    display: flex;
    margin-left: 12px;
    width: 150px;
    height: 12px;
    justify-content: space-between;
    margin-bottom: 14px;
    text-align: center;
}

.reply {
    font-size: 16px;
    line-height: 22px;
    color: #2CB5A9;
    margin-top: 10px;
    margin-left: 12px;
    margin-bottom: 10px;
}

.question-detail .best-reply {
    background-color: antiquewhite;
    border-radius: 10px;
    color: black;
    width: 50px;
    height: 16px;
    text-align: center;
}

.question-detail .reply-content {
    height: 166px;
}


.question{
    background-color: #ffffff;
}

.question.title{
    font-size: 15px;
}

.question img {
    height: 120px;
    width: 100%;
    border-radius: 8px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.question.info{
    margin-top: 0;
}

.question.content {
    padding: 12px;
}

.question.desc{
    display: inline;
    font-size: 12px;
    color: #666666;
    margin-top: 15px;
    margin-bottom: 15px;
}

.answer{
    margin-top: 10px;
    background-color: #ffffff;
}
.answer .content {
    padding: 12px;
}
.answer .desc{
    display: inline;
    font-size: 12px;
    color: #666666;
}
.answer .time{
    font-size: 12px;
    color: #666666;
    margin-top: 11px;
}

.answer .best{
  background : #FFF2D9;
  border-radius : 8px;
  -moz-border-radius : 8px;
  -webkit-border-radius : 8px;
}